@use "./partials/mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  @include mixins.flex(column, center, center);
}

.nav {
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 1px 2px 6px 1px rgba(180, 180, 180, 0.75);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90vw;
  height: 10vh;
  @include mixins.flex(row, space-between, center);

  &__list {
    list-style-type: none;
    @include mixins.flex(row, space-between, center);
  }

  &__item {
    padding-left: 20px;
    padding-right: 14px;
  }

  &__link {
    color: black;
    text-decoration: none;
  }

  &__header {
    padding-left: 14px;
  }
}

.main {
  @include mixins.flex(row, space-around, center);
  flex-wrap: wrap;
  padding: 20px;
}

.section {
  @include mixins.flex(row, center, center);
  flex-wrap: wrap;
  width: 70%;
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 2px 6px 1px rgba(180, 180, 180, 0.75);
  border-radius: 10px 10px 10px 10px;

  &__title {
    color: black;
  }

  &__content {
    &__paragraph {
      padding-top: 20px;
    }
  }
}

.project {
  padding: 10px;
  &:hover {
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.75);
  }
  &__header {
    padding-bottom: 10px;
  }
  &__container {
    display: flex;
    flex: 2;
  }
  &__img {
    padding-left: 10px;
  }
}

.home {
  @include mixins.flex(column, center, center);
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
