@use "./partials/mixins";
@use "./partials/queries";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  @include mixins.flex(column, center, center);
}

.nav {
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 1px 2px 6px 1px rgba(180, 180, 180, 0.75);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90vw;
  height: 10vh;
  @include mixins.flex(row, space-between, center);

  &__list {
    list-style-type: none;
    @include mixins.flex(row, space-between, center);
  }

  &__item {
    padding-left: 20px;
    padding-right: 14px;
  }

  &__link {
    color: black;
    text-decoration: none;
  }

  &__header {
    padding-left: 14px;
  }
}

.main {
  @include mixins.flex(row, space-around, center);
  flex-wrap: wrap;
  padding: 20px;
}

.section {
  @include mixins.flex(column, center, center);
  flex-wrap: wrap;
  width: 70%;
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 2px 6px 1px rgba(180, 180, 180, 0.75);
  border-radius: 10px 10px 10px 10px;

  &__title {
    color: black;
  }

  &__content {
    @include mixins.flex(row, space-around, space-around);
    &__paragraph {
      padding-top: 20px;
    }
  }
}

.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 10px;
  margin: 10px;
  &:hover {
    box-shadow: 1px 2px 6px 1px rgba(180, 180, 180, 0.75);
    border-radius: 10px 10px 10px 10px;
  }
  &__header {
    display: flex;
    align-items: center;
    grid-area: 1 / 1 / 2 / 4;
  }
  &__content {
    grid-area: 2 / 1 / 4 / 3;
  }
  &__skills {
    display: flex;
    align-items: center;
    grid-area: 4 / 1 / 5 / 3;
  }
  &__img {
    grid-area: 2 / 3 / 6 / 4;
  }
  &__icons {
    display: flex;
    align-items: center;
    grid-area: 5 / 1 / 6 / 3;
  }
  &__icon {
    &:hover {
      box-shadow: 1px 2px 6px 1px rgba(180, 180, 180, 0.75);
      border-radius: 10px 10px 10px 10px;
      cursor: pointer;
    }
  }
}

.home {
  @include mixins.flex(column, center, center);
}

.icon {
  @include mixins.flex(column, center, center);
  padding: 10px;
  &:hover {
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
  }
  &__link {
    text-decoration: none;
    color: black;
    text-align: center;
  }
}

.aboutmesection {
  &__content {
    @include mixins.flex(column, center, center);
    &__paragraph {
      padding: 10px;
    }
  }
}

.img {
  padding: 30px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
