$soft-blue: #446e93;
$dark-blue: #0b2940;
$light-blue: #5e90b5;
$dark-pastel-blue: #26405b;
$light-pastel-blue: #7ba9d0;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: $soft-blue;
  color: $dark-blue;
  text-align: center;
  padding: 20px 0;

  &__title {
    margin: 0;
  }
}

.nav {
  background-color: $light-blue;
  color: $dark-blue;
  padding: 10px 0;

  &__list {
    list-style-type: none;
    text-align: center;
  }

  &__item {
    display: inline;
    margin: 0 10px;
  }

  &__link {
    color: $dark-blue;
    text-decoration: none;
  }
}

.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;

  &__section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 10px;
    padding: 20px;
    background-color: $light-pastel-blue;
    box-shadow: -1px 3px 34px -5px rgba(0, 0, 0, 0.63);

    &__container {
      display: flex;
      justify-content: center;
      border: 1px solid red;
    }

    &__title {
      color: $dark-pastel-blue;
    }
  }
}

.footer {
  background-color: $soft-blue;
  color: $dark-blue;
  text-align: center;
  padding: 10px 0;

  &__text {
    margin: 0;
  }
}
