$light-purple: rgb(205, 186, 209);
$dark-purple: rgb(73, 22, 104);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-purple;
}

.primary-nav {
  background-color: $dark-purple;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__header {
    color: white;
  }

  &__ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__a {
    color: white;
    text-decoration: none;

    &:hover {
      color: $light-purple;
    }
  }
}
